body {
  font-family: "Josefin Sans", sans-serif;
}

.info-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 30vw;
  margin: 0;
}

.name-ver2 {
  position: absolute;
  top: 10%;
  left: 15%;
  font-size: 3vmax;
  z-index: 1;
  color: #b38a58;
}

.bio {
  position: absolute;
  font-style: italic;
  font-size: 1vmax;
  color: #c8c8c8;
  top: 30%;
  left: 15%;
}

.description-ver2 {
  position: absolute;
  top: 80%;
  left: 15%;
  font-size: 1.6vmax;
  color: rgb(0, 0, 0);
}

strong {
  color: grey;
}

.grid {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0.5%;
  height: 100vh;
  width: 55vw;
}

.grid:after {
  display: block;
  content: "";
  clear: both;
}

.grid-col {
  float: left;
  width: 44%;
  margin-left: 0.5%;
}

.grid-item {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
}

.mobile {
  display: none;
}

a {
  text-decoration: none;
  color: rgb(172, 165, 165);
}

a:hover {
  text-shadow: 0.1px 0.1px 2px;
  cursor: pointer;
}

@media (max-width: 1300px) {
  #pic2 {
    width: 0;
    height: 0;
  }
}

@media (max-width: 700px) {
  body {
    margin: 0;
  }

  .grid-container {
    display: none;
  }

  .version2 {
    display: none;
  }

  .mobile {
    display: block;
  }

  .topbar {
    width: 100%;
    height: 20%;
    margin-top: 1.4vmin;
    margin-bottom: 1.4vmin;
  }

  .name {
    display: inline-block;
    font-size: 8vmin;
    padding: 1.5vmin;
    margin-left: 3vmin;
    width: 40%;
  }

  .description-mobile {
    font-family: "Josefin Sans", sans-serif;
    font-size: 8vmin;
    display: inline-block;
    text-align: right;
    padding: 1.5vmin;
    width: 46%;
  }

  .main-carousel {
    height: 10%;
    margin: 0 2vmin 0 2vmin;
  }

  .carousel-cell {
    height: auto;
    width: 100%;
  }

  .carousel-pic {
    height: auto;
    width: 100%;
  }

  .flickity-button {
    display: none;
  }

  .flickity-page-dots {
    bottom: 3vh;
  }

  .dot {
    opacity: 1;
    background: transparent;
    /*border: 1px solid rgb(255, 255, 255);*/
  }

  .flickity-page-dots .dot.is-selected {
    background: rgb(207, 189, 189);
  }

  .description {
    display: none;
  }
}
