body {
  /*  font-family: "Josefin Sans", sans-serif;*/
  font-family: "Playfair Display", serif;
}

.info-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50vw;
  margin: 0;
}

.bio,
.clients,
.name,
.links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.name {
  top: 10%;
  width: 100%;
  font-size: 2em;
  z-index: 1;
  color: #b38a58;
}

.bio,
.clients {
  width: 100%;
  font-style: italic;
  font-size: 1em;
  color: rgb(91, 91, 91);
  top: 25%;
}

.bio {
  display: block;
  width: 40%;
  line-height: 1.2em;
  font-size: 0.9em;
}

.clients {
  display: none;
  line-height: 1.5em;
}

.links {
  line-height: 1.4em;
  top: 70%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

strong {
  color: grey;
}

.grid {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0.5%;
  height: 100vh;
  width: 50vw;
}

.grid:after {
  display: block;
  content: "";
  clear: both;
}

.grid-col {
  float: left;
  width: 44%;
  margin-left: 0.5%;
}

.grid-item {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
}

.mobile {
  display: none;
}

a,
.clients-link {
  text-decoration: none;
  color: rgb(91, 91, 91);
}

p {
  margin: 0;
}

a:hover,
.clients-link:hover {
  text-shadow: 0.1px 0.1px 2px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .grid-col--2 {
    display: none;
  }

  .grid-col {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .name,
  .bio,
  .clients,
  .links {
    display: none;
  }

  .clients,
  .bio {
    margin-top: 20%;
    font-size: 1.5em;
  }

  .bio {
    width: 60%;
  }

  .info-container {
    position: fixed;
    top: 15vh;
    width: 100%;
    height: auto;
  }

  .mobile {
    display: block;
    margin: 0;
    padding: 0;
  }

  .topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 101vw;
    height: 15vh;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    line-height: 1.5em;
  }

  .name-mobile {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 1.6em;
    color: #b38a58;
  }

  .stylist-word {
    color: rgb(161, 159, 159);
    text-transform: uppercase;
    font-size: 0.6em;
  }

  .hamburger {
    position: fixed;
    top: 0;
    right: 3vh;
    height: 15vh;
    width: 4.5vh;
    z-index: 2;
  }

  .hamburger-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
  }

  .menu-container {
    display: none;
    position: fixed;
    top: 15vh;
    left: 0;
    width: 100vw;
    height: auto;
    background-color: rgb(41, 53, 90);
    color: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  .menu {
    margin-top: 10%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }

  .menu-item {
    display: block;
    font-size: 1.3em;
    font-weight: 10;
    padding-top: 1.5em;
    text-transform: uppercase;
  }

  .menu-item:hover {
    cursor: pointer;
  }

  .contact {
    border-top: 1px solid rgb(161, 159, 159);
    /*  background-color: rgb(58, 74, 119);*/
    text-align: center;
    margin-top: 4em;
  }

  .insta,
  .mail {
    width: 2em;
    height: auto;
    margin: 1.5em;
  }

  .grid {
    display: block;
    left: -1%;
    top: 15vh;
    width: 101%;
  }

  .grid-col {
    width: 100%;
  }

  .img {
    width: 100%;
  }
}
