body {
  font-family: "Josefin Sans", sans-serif;
}

.info-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 45vw;
  margin: 0;
}

.bio,
.clients,
.name,
.links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.name {
  top: 10%;
  width: 100%;
  font-size: 3em;
  z-index: 1;
  color: #b38a58;
}

.bio,
.clients {
  width: 100%;
  font-style: italic;
  font-size: 1em;
  color: #c8c8c8;
  top: 33%;
}

.bio {
  display: block;
  width: 40%;
  line-height: 1.2em;
  font-size: 1.1em;
}

.clients {
  display: none;
  line-height: 1.5em;
}

.links {
  line-height: 1.4em;
  top: 70%;
  font-size: 1.6vmax;
  color: rgb(0, 0, 0);
}

strong {
  color: grey;
}

.grid {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0.5%;
  height: 100vh;
  width: 55vw;
}

.grid:after {
  display: block;
  content: "";
  clear: both;
}

.grid-col {
  float: left;
  width: 44%;
  margin-left: 0.5%;
}

.grid-item {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
}

.mobile {
  display: none;
}

a,
.clients-link {
  text-decoration: none;
  color: rgb(172, 165, 165);
}

p {
  margin: 0;
}

a:hover,
.clients-link:hover,
.name:hover {
  text-shadow: 0.1px 0.1px 2px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .grid-col--2 {
    display: none;
  }

  .grid-col {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .name,
  .bio,
  .clients,
  .links {
    display: none;
  }

  .clients,
  .bio {
    margin-top: 20%;
    font-size: 1.5em;
  }

  .info-container {
    position: fixed;
    top: 15vh;
    width: 100%;
    height: auto;
  }

  .mobile {
    display: block;
    margin: 0;
    padding: 0;
  }

  .topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    border-bottom: 1px solid grey;
  }

  .name-mobile {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 2em;
  }

  .hamburger {
    position: fixed;
    top: 0;
    right: 2vh;
    height: 15vh;
    width: 6vh;
    z-index: 2;
  }

  .hamburger-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
  }

  .menu-container {
    display: block;
    position: fixed;
    top: 15vh;
    left: 0;
    width: 100vw;
    height: auto;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }

  .menu {
    display: block;
    text-align: center;
    position: relative;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }

  .menu-item {
    display: block;
    font-size: 2em;
    border-bottom: 0.1px solid lightgray;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-transform: lowercase;
    margin-bottom: 0;
    overflow: hidden;
  }

  .menu-item:hover {
    cursor: pointer;
  }

  .grid {
    display: block;
    left: 0;
    top: 15vh;
    width: 100%;
  }

  .clients {
    background-color: blue;
    width: 100%;
    height: 100%;
  }

  .grid-col {
    width: 100%;
  }

  .img {
    width: 100%;
  }
}
